
<div class="flex">
  <%= link_to assessment_path(assessment), data: { turbo_method: :delete } do %>
        <%= inline_svg_tag "delete.svg", class: "w-4 h-4" %>
  <% end %>
  <%= form_with url: orders_path do |form| %>
  <%= form.hidden_field "order[quote_id]", value: assessment.quote.id %>
    <%= form.submit "Pay" %>
  <% end %>
</div>
