<%= turbo_frame_tag dom_id(assessment), class: "flex justify-between p-2" do %>
  <% columns.each do |column, css_class| %>
    <p class="my-auto <%= css_class %>"><%= extract_data assessment, column %></p>
  <% end %>
  <% actions.each do |action, method| %>
    <%= link_to assessment_path(assessment), data: { turbo_method: method } do %>
      <%= inline_svg_tag "#{action}.svg", class: "w-4 h-4" %>
    <% end %>
  <% end %>
<% end %>
